body {

    background-color: #C4C4C4;
    border: 5px;
    font-family: roboto;
}

.content {
    background-color: #fff;
    width: 70vh;
    height: 100vh;
    margin: 10px auto;

}

.tambah-list {
    padding: 12px;
}

form {
    margin-top: 25px;

}

input {
    width: 500px;
    height: 56px;
    font-size: 20px;
    padding: 25px;
    margin-right: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #EFEFEF;
    border: 1px solid #818181;
    border-radius: 10px;
    border: none;
    outline: none;
}

input:hover {
    background: #afaeae;
}

button {
    background-color: #FF6F6F;
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
    box-shadow: 4px 6px #888888;
    border: none;
    outline: none;


}

button:hover {
    background: #DC363A;
}

button:active {
    box-shadow: 2px 3px #525151;
    transform: translateY(4px);


}

a .button {
    text-decoration: none;

}

.daftar-list {

    margin-top: 15px;
    font-style: medium;
    font-size: 30px;
    line-height: 50px;
    padding: 12px;
}

ul {
    list-style: none;
}

.list {
    background: #FFFFFF;

    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid;
    margin: 0px 0px 1px -18px;
    padding-left: 20px;
    width: 568px;
    transition: 0.2s;
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* display: none; */
}



.list i {
    position: absolute;
    top: 18%;
    right: 0;
    padding-right: 25px;
    text-decoration: none !important;
}

.list i:hover {
    color: #FF6F6F;
}

.list:hover {
    padding: 10px;
    box-shadow: 5px 10px 18px #FF6F6F;
}

.judul-list {
    margin-left: 25px;
}